.App {
    height: 100vh !important;
}

/*
    COLORES BOTONES
*/

.filtros-botones {
    background-color: #4741ff !important;
    /*background-color: #ffe841 !important;*/
    /*border-color: black !important;*/
    border-color: #4741ff !important;

    color: white !important;
    font-weight: bold !important;
}

.filtros-botones:hover {
    background-color: #3531bf !important;
    border-color: black !important;
}

.borrar-botones {
    background-color: #fb4141 !important;
    border-color: #fb4141 !important;

    color: white !important;
    font-weight: bold !important;
}

.borrar-botones:hover {
    background-color: #c23131 !important;
    border-color: black !important;
}

.crear-botones {
    background-color: #289b29 !important;
    border-color: #289b29 !important;

    color: white !important;
    font-weight: bold !important;
}

.crear-botones:hover {
    background-color: #1d721e !important;
    border-color: black !important;
}

.reservar-botones {
    background-color: #e354b8 !important;
    border-color: #e354b8 !important;

    color: white !important;
    font-weight: bold !important;
}

.reservar-botones:hover {
    background-color: #ab408b !important;
    border-color: black !important;
}

/*
    BOTONES SIN ESTILO
*/

.btn-no-style {
    all: unset;
    cursor: pointer;

    margin-left: 7px;
    color: grey;
}

.btn-no-style:hover {
    text-decoration: underline black; 
    color: black;
}

.btn-activo {
    text-decoration: underline black; 
    color: black;
}

/*
    TABLAS
*/

.tabla-activa {
    background-color: rgb(240, 240, 240);
}

.tabla-seleccion:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

/*
    LISTAS
*/

.lista-sin-numeros {
    list-style-type: none;
    padding: 5px;
}

.lista-opciones {
    margin-bottom: 3px;
    cursor: pointer;
    padding-left: 10px;
}

/*
    IMÁGENES
*/

.preview-img  {
    cursor: pointer;
}

.preview-img:hover {
    filter: opacity(50%);
}

.preview-marcada {
    cursor: pointer;
    filter: opacity(50%);
}

/*
    BOTONES DE MAS Y MENOS
*/

.btn-plus-minus {
    background-color: white !important;
    border-color: black !important;
}

/*
    BOTON MODIFICAR FUENTE
*/

.btn-fuente {

    padding: 10px 10px 10px 10px !important;
    background-color: white !important;
    border-radius: 15px !important;
    color: black !important;
    text-align: left !important;
}

.btn-fuente:hover {
    background-color: rgb(240, 240, 240) !important;
    color: black !important;
}

/*
    BOTON IR ARRIBA
*/

.btn-top {
    display: block;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(40, 40, 40);
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 50px;
}
  
.btn-top:hover {
    background-color: #555;
}