.container-casa {
    cursor: pointer;
}
/*
.container-casa:hover {
    opacity: 90%;
}*/

.derecha-casa {
    width: 50%;
    text-align: right;
}

.info-casa {
    background-color: #ADA2FF !important;
}

.nueva-casa {
    position: absolute;
    top: 3%; 
    left: 3%;
    width: 20%;
}