.header {
    position: sticky;   
    top: 0; 
    background-color: rgb(240, 240, 240);
 }

 .header-separador {
    color: black;
    border-width: 2px;
    margin-right: 10px;
    margin-left: 10px;
 }

 .logo {
    text-align: left !important;
 }

 /*
    BARRA NAVEGACIÓN PRINCIPAL
 */

.user-btn-no {
    
    background-color: #ffe841 !important;
    border: 1px solid black !important;

    border-radius: 15px;
}

.user-col {
    text-align: right;
}

.user-img {
    margin-left: 10px;
    margin-right: 5px;
    max-height: 30px;
}

.user-icon {
    margin-left: 10px;
    font-size: 20px;

    color: black;
    vertical-align: middle;
}

#buscar-lugar {
    border-color: black !important;
}

/*

*/

.color-boton {
    background-color: #ffe841 !important;
    border-color: black !important;

    color: black !important;
}

.color-boton:hover {
    background-color: #d6c437 !important;
    border-color: black !important;
}