.header {
    position: sticky;   
    top: 0; 
    background-color: #FAF5E4;
 }

 .header-separador {
    color: black;
    border-width: 2px;
    margin-right: 10px;
    margin-left: 10px;
 }

 .logo {
    text-align: left !important;
 }

 /*

 */

.user-col {
    text-align: right;
}

.user-boton {
    border-radius: 50px !important;
}

.user-img {
    max-height: 28px;
}

/*

*/

.container-filtros {
    color: white;
    text-align: center;
    font-size: 10px;
}

/*

*/

.color-boton {
    background-color: #FF6363 !important;
    border-color: #FF6363 !important;

    color: black !important;
}

.color-boton:hover {

    background-color: #ff6363c0 !important;
    border-color: #ff6363c0 !important;
}