.separador-izquierda {
    border-left: 1px solid black;
}

.vista-separador {
    margin-left: 7px;
    margin-right: 7px;

    color: grey;
}

.arrow-style {
    vertical-align: middle;
    font-size: 20px;
    text-align: right;
}

.resaltar-titulo {
    background-color: #ffe841;
    border-radius: 15px;
    padding: 10px;
}