.chat-titulo {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

.chat-mensajes {
    height: 250px;
    overflow-y: auto;
    color: white;
}

.mensaje {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: #494949;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: 2.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.mensaje.mensaje-propio {
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #6060f8;
    color: white;
}

.mensaje-hora {
    vertical-align: bottom;
    font-size: 11px;
    font-weight: bold;
}

.mensaje-fecha {
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: #fb5f5f;
    border-radius: 1.125rem;
    min-height: 2.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 66%;
    font-weight: bold;

    margin: auto;
}

.mensaje-img {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
}

.mensaje-img:hover {
    background-color: rgba(73, 176, 255, 0.452);
    border-radius: 1.125rem;
}

.chat-input {
    display: flex;
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    align-items: center;
}

.chat-input input {
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 1.125rem;
    flex-grow: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-weight: 400;
    letter-spacing: 0.025em;
}

.chat-icon {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #666;
}
.chat-icon:hover {
    color: #333;
}

.icon-list {
    z-index: 1;
    position: absolute;
    
    background-color: rgb(215, 215, 215);
    /*border-radius: 5px;*/
    
    border-radius: 1.125rem 1.125rem 1.125rem 0;

    top: -135px;
    padding: 10px;
    margin-left: 45px;
}

.icon {
    padding: 2px;
    font-size: 1.2rem;
    cursor: pointer;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon:hover {
    background-color: rgba(73, 176, 255, 0.452);
    border-radius: 5px;
}
